canvas {
    border: 2px solid black;
    background-color: black;
}
video {
    display: none;
}
body {
    overflow: hidden;
    margin: 0;
}
.ui {
    position: absolute;
}
button{
    margin: 20px;
    width: 150px;
}
